*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* background-color: lightblue; */
	outline: none;
	font-display: sans-serif;
	

}

.sidebar{
    height:500px;
	width:500px;
	margin-top: 200px;
	font-weight: bold;
	/* margin-left: 200px; */
	


}
.continer2{
	height: 100mv;
	display: flex;
	justify-content: center;
	align-items: center;

	
}

.calculator2{
	background-color: rgb(160, 225, 245);

	padding: 50px;
	box-shadow: inset 5px 5px 12px #ffffff;
	                 5px 5px 12px rgba(0,0,0,.16);
	display: grid;
	grid-template-columns: repeat(4,68px);
	/* margin-left: 60px;             */
}



.result{
	grid-column: span 4;
	height: 40px;
	width: 260px;

	box-shadow: inset -5px -5px 12px #ffffff;
	                   5px 5px 12px 12px rgba(0,0,0,.16);
	border: none;
	border-radius: 30px;
	color : black;
	font-size: 30px;
	margin: auto;
	margin-bottom: 20px;
	padding: 20px;
	background-color:rgb(78, 160, 187);
	font-weight: bold;

}

.button2
{
	height: 48px;
	width: 48px;
	background-color:rgb(78, 160, 187);
	box-shadow: -5px -5px 12 #fffffff;
	border: none;
	border-radius: 50%;
	margin: 8px;
	font-size: 16px;
	font-weight: bold;
}


.linkbutton{
	display: block;
   height: 48px;
   width: 400px;
   box-shadow: -5px -5px 12 #fffffff; 
   border: none;
   border-radius: 50%;
   /* margin: 8px; */
   font-size: 35px; 

   text-align: center;
   text-decoration: none;
   color:black;

}